<h1>New pref</h1>

<% form_for(@pref) do |f| %>
  <%= f.label :name %>
	<%= f.text_field :name %><br>
  <%= f.label :match %>
	<%= f.text_field :match %><br>
  <%= f.label :value %>
	<%= f.text_field :value %><br>

  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', prefs_path %>
