<h1>New member</h1>

<% form_for :member, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit 'Create' %> </p>
<% end %>

<%= link_to 'Back', members_path %>